{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <!-- FORM TO UPLOAD THE IMAGES -->
  <link rel="stylesheet" type="text/css" href="{% static 'sketcher.css' %}">
  <div class='container_new'>
    <div class='row_new'>
      <div class='column_new'>
        <img src="{{ form.original_image.url}}" alt="Snow" style="width:100%;max-height: 600px">
      </div>
      <div class='column_new' style="margin">
        <img src="{{ form.sketch_image.url }}" alt="Snow" style="width:100%;max-height: 600px">
      </div>
    </div>
  </div>

{% endblock %}